* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 322px;
    height: 66px;
    margin-left: 39px;
    margin-top: 30px;
}
/*Log in screen view*/

.logIn-container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(3, [row] auto);
    gap: 10px;
    width: 100vw;
    height: 100vh;
    
    background-size: cover;
    background: url(../assets/images/Black1.jpg), #C4C4C4;
    background-repeat: no-repeat;
    background-position: center center;
}

.logIn-header {
    grid-column: 1;
    grid-row: 1;
}

.logIn-main {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.logIn-footer {
    grid-column: 1;
    grid-row: 3;
}

.container-bigBox {
    flex-grow: 10;
    display: flex;
    justify-content: flex-end;
}

/* Log in card */
.bigBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 40px 50px;
    max-width: 462px;
    height: 702px;

    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 12px;
}

.bigBox__title {
    margin-bottom: 10px;
}

.bigBox__info {
    margin-bottom: 32px;
}

.button {
    margin: 12px 0px;
    font-family:'Exo', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;

    width: 362px;
    height: 47px;

    border-radius: 6px;
    cursor: pointer;
}

.buttonSocialmedia {
    @extend .button;

    background: none;
    border: 2px solid #FFFFFF;

}

.buttonLogIn {
    @extend .button;
    background-color:#4cc986;
    border: 0px;
}

.logIn-input {
    box-sizing: border-box;
    width: 362px;
    height: 47px;
    margin-bottom: 16px;
    padding: 16px 10.6px 16px 10.6px;

    font-family:'Exo', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    
    background: #FFFFFF;
    border-radius: 4px;
    }

.psw-box {
    display: flex;
    justify-content: space-between;
}

.psw-box > *{
    flex: 1;
}

.label-checkbox {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

/*Carrousel*/

.buttonCarrousel {
    flex-grow: 1;
    margin-bottom: 130px;
    height: 44px;
}
