body {
    font-family:'Exo', sans-serif;
}

/*Log in screen*/

.bigBox {
    h2, p, span, div {
        color: $snow-white;
    }

    a {
        color: $mint-green;
        text-decoration: none;
    }
}



